/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-focusable,
.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
.element-focusable:active,
.element-focusable:focus,
.element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

body {
  background-color: #fcdacb;
  background-image: url(http://allmannakontoret.se/assets/img/pink-pattern.png);
}

/* PAGE
   -------- */
.page {
  width: 61.250em;
  margin: 0 auto;
}

/* HEADER
   -------- */
.header {
  padding: 1.813em 0;
}

/* MAIN
   -------- */
.main {
  background: #fff;
  overflow: hidden;
  padding: 3.438em;
  margin-bottom: 6.875em;
}

.main h2 {
  color: #00a068;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 2.375em;
  text-transform: uppercase;
  margin-bottom: 0.789em;
}

.main p {
  color: #00a068;
  font-family: "Josefin Slab", serif;
  font-size: 1.5em;
  line-height: 1.167;
  margin-bottom: 1.667em;
}

.main a {
  color: #00a068;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.main a:hover,
.main a:focus,
.main a:active {
  color: #333;
}

/* FORMS
   -------- */

.form {
  width: 38.813em;
  margin: 0 auto;
  overflow: hidden;
}

.form__item {
  margin-bottom: 1.688em;
  overflow: hidden;
}

label {
  color: #00a068;
  text-align: right;
  font-family: "Josefin Slab", serif;
  float: left;
  width: 4.583em;
  font-size: 1.5em;
  line-height: 1.667;
}

.form__text {
  -webkit-appearance: none;
  float: right;
  border: 1px solid #bfe7d9;
  width: 31.625em;
  padding: 0 0.625em;
  height: 2.5em;
  line-height: 2.5;
  -webkit-transition: border-color .4s;
  -moz-transition: border-color .4s;
  -o-transition: border-color .4s;
  transition: border-color .4s;
}

.form__text:focus {
  border-color: #00a068;
}

.form__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #00a068;
  color: #fff;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 1.5em;
  border: 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  float: right;
  padding: 0.317em 1.383em;
  cursor: pointer;
  -webkit-transition: background-color .4s;
  -moz-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
}

.form__submit:hover,
.form__submit:focus,
.form__submit:active {
  background-color: #333;
}

/* FOOTER
   -------- */
.footer {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(http://allmannakontoret.se/assets/img/line.png);
  padding: 2.813em 0;
  overflow: hidden;
  width: 55.938em;
  margin: 0 auto;
}

.footer a {
  color: #00a068;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #333;
}

.footer h1 {
  color: #00a068;
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.125em;
  margin-bottom: 1em;
}

.footer__first {
  width: 28.786em;
  margin-right: 9.375em;
  float: left;
  font-size: 0.875em;
  font-family: "Josefin Slab", serif;
  color: #00a068;
  line-height: 1.357em;
}

.footer__first h1 {
  margin-bottom: 0;
}

.footer__first h1 a {
  text-indent: -9999px;
  display: block;
  height: 50px;
  width: 75px;
  margin-right: 1em;
  float: left;
  margin-bottom: 100px;
  background: url(http://allmannakontoret.se/assets/img/tools2.png) no-repeat 0 -63px;
}

.footer__first h1 a:hover,
.footer__first h1 a:focus,
.footer__first h1 a:active {
  background: url(http://allmannakontoret.se/assets/img/tools2.png) no-repeat -105px -63px;
}

.footer__first p {
  margin-bottom: 1.5em;
}

.footer__second,
.footer__third {
  float: left;
  width: 11.250em;
}

.footer__second a,
.footer__third a {
  background: url(http://allmannakontoret.se/assets/img/tools2.png) no-repeat;
  padding-left: 46px;
  height: 30px;
  display: block;
  padding-left: 40px;
  color: #00a068;
  width: 4.5em;
  margin-bottom: 15px;
  font-family: 'Lora', serif;
  font-style: italic;
  text-decoration: none;
 }

.footer__second a:hover,
.footer__second a:focus,
.footer__second a:active,
.footer__third a:hover,
.footer__third a:focus,
.footer__third a:active {
  text-decoration: underline;
}

.footer__second .github:link,
.footer__second .github:visited {
  background-position: 0 -125px;
}

.footer__second .github:hover,
.footer__second .github:focus,
.footer__second .github:active {
  background-position: 0 -165px;
}

.footer__second .flattr:link,
.footer__second .flattr:visited {
   background-position: -147px -125px;
}

.footer__second .flattr:active,
.footer__second .flattr:focus,
.footer__second .flattr:hover {
   background-position: -147px -165px;
}

.footer__third .twitter:link,
.footer__third .twitter:focus,
.footer__third .twitter:visited{
   background-position: -146px -213px;
}

.footer__third .twitter:hover,
.footer__third .twitter:focus,
.footer__third .twitter:active {
   background-position: -146px -253px;
}

.footer__third .facebook:link,
.footer__third .facebook:visited{
   background-position: 0 -213px;
}

.footer__third .facebook:hover,
.footer__third .facebook:focus,
.footer__third .facebook:active {
   background-position: 0 -253px;
}
