---
layout: global
title: team
category: om_projektet
---

<ul>
  {% for item in site.categories.team reversed %}
    <li class="grid_13">
      <h3 class="grid_13">{{item.name}}</h3>
      <h4 class="grid_13">{{item.role}}</h4>
      <img class="grid_4 alpha" 
      {% if item.gravatar %} src="{{item.gravatar}}?s={{site.gravasize}}"
      {% else %} width="{{site.gravasize}}" src="{{site.baseurl}}/assets/img/{{item.picture}}"
      {% endif %}
      alt="{{item.name}}">
      <p class="grid_9 omega">{{item.content}}</p>
    </li>
  {% endfor %}
</ul>
