<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset=utf-8>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/site.css">
  <!-- <link rel="stylesheet" href="http://thepublicoffice.se/assets/site.css"> -->
  {% capture title %}{% if site[page.category] %}{{site[page.category]}}{% else %}{{page.category | reaplce:'_',' '}}{% endif %}{% endcapture %}
  {% capture subtitle %}{% if site[page.parent] %}{{site[page.parent]}}{% else %}{{page.parent | replace:'_', ''}}{% endif %}{% endcapture %}
  {% if page.parent %}
  <title>{{site.title}} • {{title | capitalize}} • {{subtitle | capitalize}} • {{page.title | capitalize}}</title>
  {% else %}
  <title>{{site.title}} • {{title | capitalize}} • {{page.title | capitalize}}</title>
  {% endif %}
  <script>
    document.createElement("article"); 
    document.createElement("footer"); 
    document.createElement("header"); 
    document.createElement("hgroup"); 
    document.createElement("nav"); 
  </script>
</head>
<body>
  <div class="container_24 {{page.category}}">
    <div class="grid_24 content">

      <h1 class="logo logo_{{site.lang}} grid_7 alpha">{{site.title}}</h1>
      <header class="main grid_17 omega">
          <nav>
              <ul class="grid_6 alpha">
                {% include partials/menu.part %}
              </ul>
          </nav>
          <div id="postit">
            <h2>The public office</h2>
            <h3>now at the architecture museum</h3>
            <p>Come and work with us!</p>
          </div>
      </header>
      <br class="clear"/>
      <aside class="grid_7 alpha">
        {% include partials/submenu.part %}
      </aside>
      <section class="grid_17 omega ">{{content}}</section>
    </div>
  </div>
  <br class="clear"/>
  <footer>
   <p>This is the Footer</p>
  </footer>
</body>
</html>