<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset=utf-8>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/site.css">
  <!-- <link rel="stylesheet" href="http://thepublicoffice.se/assets/site.css"> -->
  <title>{{site.title}} • {{page.category | capitalize}}</title>
  <script>
    document.createElement("article"); 
    document.createElement("footer"); 
    document.createElement("header"); 
    document.createElement("hgroup"); 
    document.createElement("nav"); 
  </script>
</head>
<body>
  <div class="container_24 {{page.category}}">
    <div class="grid_24">

      <h1 class="grid_7 alpha">{{page.title | capitalize}}</h1>
      <header class="main grid_17 omega">
          <nav>
              <ul class="grid_6 alpha">
                {% include partials/menu.part %}
              </ul>
          </nav>
      </header>
      <br class="clear"/>
      <aside class="grid_7 alpha">
        {% include partials/submenu.part %}
      </aside>
      <section class="grid_17 omega ">{{content}}</section>
    </div>
  </div>
  <br class="clear"/>
  <footer>
   <p>This is the Footer</p>
  </footer>
</body>
</html>