---
layout: default
---
<article class="hentry">
  <header>
    {% capture title %}{% if site[page.category] %}{{site[page.category]}}{% else %}{{page.category}}{% endif %}{% endcapture %}
    {% capture subtitle %}{% if site[page.parent] %}{{site[page.parent]}}{% else %}{{page.parent | replace:'_', ''}}{% endif %}{% endcapture %}
    <h1 id="top" class="entry-title">{{title}}</h2>
    {% unless page.main%}
      {% if page.parent %}
      <h2 class="entry-summary">{{subtitle | capitalize}} • {{page.title | capitalize}}</h2>
      {% else %}
      <h2 class="entry-summary">{{page.title | capitalize}}</h2>
      {% endif %}

    {% endunless %}
  </header>
  <div class="hentry-content">{{ content }}</div>
</article>